.navbar{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: #CACDD8;
}

.navbar .list{
    display: flex;
    height: 40px;
    list-style: none;
    gap:90px;
}

.navbar .list li{
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 20px;
    align-self: center;
    font-family: 'Poppins';
}

.navbar img{
    height: 4em;
    width:5em;
    align-self: center;
}

.navbar .dealsButton{
    background-color: white;
    border-radius: 20px;
    border-color: #0156FF;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 20px;
    height:40px;
    width: 8em;
    color:#0156FF;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Poppins';
}

.navbar ul div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:40px;
}

.navbar .searchIcon{
    height: 20px;
}

.navbar .cartIcon{
    font-size: 22px;
    color:black;
}

.navbar ul li:hover{
    border-bottom: 2px solid lightgray;
    transition: 200ms ease-in-out;
} 

.navbar .userIcon{
    font-size: 20px;
}

